.body{
    background-color: rgb(131, 209, 14);
}
.main{
    border: solid 2px red;
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 3.5fr;
    height: 615px;
    width:1275px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.seccion{
    border: solid 2px red;
}

.barraDeEscribir{
    border: solid 2px red;
    width: 400px;
    height: 4px;
}